# Windows image file caches
Thumbs.db
ehthumbs.db

#Eagle Backup files
*.s#?
*.b#?
*.l#?
*.lck

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.gitattributes

/VS2019
site/404.html
site/assets/BoardFiles/BMI270-Datasheet.pdf
site/assets/BoardFiles/SparkFun_Qwiic_6DoF_BMI270-BoardOutline.png
site/assets/BoardFiles/SparkFun_Qwiic_6DoF_BMI270-EagleFiles.zip
site/assets/BoardFiles/SparkFun_Qwiic_6DoF_BMI270-Schematic.pdf
site/assets/BoardFiles/SparkFun_Qwiic_6DoF_Micro_BMI270-BoardOutline.png
site/assets/BoardFiles/SparkFun_Qwiic_6DoF_Micro_BMI270-EagleFiles.zip
site/assets/BoardFiles/SparkFun_Qwiic_6DoF_Micro_BMI270-Schematic.pdf
site/assets/favicon.png
site/assets/images/favicon.png
site/assets/imgs/22397_1.jpg
site/assets/imgs/22397_1_1.jpg
site/assets/imgs/22397_2.jpg
site/assets/imgs/22397_3.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_ADDRJumper.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_AuxI2CPins.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_AuxSPIPins.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_BMI270.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_I2CJumper.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_I2CPins.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_InterruptPins.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_LEDJumper.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_PowerGPIO.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_PowerLED.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_QwiicConnex.jpg
site/assets/imgs/22397_Qwiic_6DoF_BMI270_SPIPins.jpg
site/assets/imgs/22398_1.jpg
site/assets/imgs/22398_1_1.jpg
site/assets/imgs/22398_2.jpg
site/assets/imgs/22398_3.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_ADDRJumper.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_BMI270.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_GNDPin.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_I2CJumper.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_INTPin.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_PWRJumper.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_PWRLed.jpg
site/assets/imgs/22398_Qwiic_Micro_6DoF_BMI270_QwiicConnex.jpg
site/assets/imgs/Qwiic-registered-black.png
site/assets/imgs/Qwiic-registered-updated.png
site/assets/imgs/Qwiic-registered-white.png
site/assets/imgs/Qwiic_Redboard_-_IO_Jumper.jfif
site/assets/javascripts/bundle.51198bba.min.js
site/assets/javascripts/bundle.51198bba.min.js.map
site/assets/javascripts/lunr/min/lunr.ar.min.js
site/assets/javascripts/lunr/min/lunr.da.min.js
site/assets/javascripts/lunr/min/lunr.de.min.js
site/assets/javascripts/lunr/min/lunr.du.min.js
site/assets/javascripts/lunr/min/lunr.es.min.js
site/assets/javascripts/lunr/min/lunr.fi.min.js
site/assets/javascripts/lunr/min/lunr.fr.min.js
site/assets/javascripts/lunr/min/lunr.hi.min.js
site/assets/javascripts/lunr/min/lunr.hu.min.js
site/assets/javascripts/lunr/min/lunr.it.min.js
site/assets/javascripts/lunr/min/lunr.ja.min.js
site/assets/javascripts/lunr/min/lunr.jp.min.js
site/assets/javascripts/lunr/min/lunr.ko.min.js
site/assets/javascripts/lunr/min/lunr.multi.min.js
site/assets/javascripts/lunr/min/lunr.nl.min.js
site/assets/javascripts/lunr/min/lunr.no.min.js
site/assets/javascripts/lunr/min/lunr.pt.min.js
site/assets/javascripts/lunr/min/lunr.ro.min.js
site/assets/javascripts/lunr/min/lunr.ru.min.js
site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
site/assets/javascripts/lunr/min/lunr.sv.min.js
site/assets/javascripts/lunr/min/lunr.ta.min.js
site/assets/javascripts/lunr/min/lunr.th.min.js
site/assets/javascripts/lunr/min/lunr.tr.min.js
site/assets/javascripts/lunr/min/lunr.vi.min.js
site/assets/javascripts/lunr/min/lunr.zh.min.js
site/assets/javascripts/lunr/tinyseg.js
site/assets/javascripts/lunr/wordcut.js
site/assets/javascripts/workers/search.208ed371.min.js
site/assets/javascripts/workers/search.208ed371.min.js.map
site/assets/sfe_logo_sm.png
site/assets/sfe_logo_sq.png
site/assets/stylesheets/main.ded33207.min.css
site/assets/stylesheets/main.ded33207.min.css.map
site/assets/stylesheets/palette.a0c5b2b5.min.css
site/assets/stylesheets/palette.a0c5b2b5.min.css.map
site/contribute/index.html
site/examples/index.html
site/extra.css
site/file_issue/index.html
site/hardware_assembly/index.html
site/hardware_overview/index.html
site/index.html
site/overrides/extra.css
site/overrides/main.html
site/resources_and_going_further/index.html
site/search/search_index.json
site/single_page/index.html
site/sitemap.xml
site/sitemap.xml.gz
site/software_setup_and_programming/index.html
site/troubleshooting/index.html
