
/* ================================================================================== */
/* Product Description Page                                                           */
/* ================================================================================== */
/* Sets table width for product description page */
.md-typeset table.desc {
  width: 100%;
  display: table;
}
.md-typeset table.desc label{
  font-size: .85rem;
}

/* Sets video size for product description page */
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 0;
}

.video0 {
  position: relative;
  width: 100%;
}
.video0 iframe {
  position: relative;
  top: 0;
  width: 90vh;
  height: 23.5vw;
  min-width: 300px;
  min-height: 169px;
  border: 0;
  overflow: hidden;
}

.video1 {
  position: relative;
  width: 30%;
  min-width: 300px;
  padding-bottom: 16.875%;
  min-height: 169px;
}
.video1 iframe {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 0;
}

.video2 {
  position: relative;
  width: 100%;
}
.video2 iframe {
  position: relative;
  top: 0;
  width: 90vh;
  min-width: 200px;
  /* height: 47vw * percentage */
  height: 16.45vw;
  min-height: 113px;
  border: 0;
  overflow: hidden;
}




/* ================================================================================== */
/* Introduction                                                                       */
/* ================================================================================== */

/* Sets table width for introduction */
.md-typeset table.desc {
  width: 100%;
  display: table;
}
.md-typeset table.desc label{
  font-size: .85rem;
}


/* ================================================================================== */
/* Grid Cards                                                                     */
/* ================================================================================== */

/* Sets grid width for introduction */
.grid.cards.desc {
  grid-template-columns: 35% 65%;
}

/* Sets images size in grid cards */
.md-typeset .grid ul figure img {
  width: 100%;
  max-width: 200px;
}

/* Add compatibility to mobile platforms - by setting minimum width for grid cards */
@media (max-width: 750px) {
  .grid.cards.desc {
    grid-template-columns: 100%;
  }
  .grid.cards.show {
    grid-template-columns: 100%;
  }
}


.cards {

  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-auto-rows: auto;
  grid-gap: 1rem;  
  }
  

  
  .card {  
  border: 2px solid #e7e7e7;  
  border-radius: 4px;  
  padding: .5rem;  
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
  
  
  .button {
    background-color:grey; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  


.button1 {
  background-color:grey; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-weight:bold;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
/* visited link */
.button1:link {
  color: grey;
  text-decoration: none;
}

/* visited link */
.button1:visited {
  color: grey;
  text-decoration: none;
}

.button1:hover {
  background-color: #E0311D;
  color: white;
  text-decoration: none;
}

/* selected link */
.button1:active {
  color: grey;
  text-decoration: none;
}





/* ================================================================================== */
/* YoutTube Videos                                                                    */
/* ================================================================================== */

/* Auto adjust embedded youtube videos size */
/* height: 47vw * (viewport/element) percentage */
.video {
  position: relative;
  width: 100%;
}
.video iframe {
  position: relative;
  top: 0;
  width: 90vh;
  min-width: 200px;
  height: 16.45vw;
  min-height: 113px;
  border: 0;
  overflow: hidden;
}

.video_desc {
  position: relative;
  width: 100%;
}
.video_desc iframe {
  position: relative;
  top: 0;
  width: 90vh;
  min-width: 200px;
  /* height: 12.72vw; */
  height: calc(calc(calc(100vw - 48.4rem) * 0.35 - 2rem) * 0.9);
  min-height: 113px;
  border: 0;
  overflow: hidden;
}

/* Add compatibility for mobile devices */
/* height: 47vw * (viewport) percentage */

/* Single Column */
@media (max-width: 750px) {
  .video iframe {
    height: 47vw;
  }

  .video_desc iframe {
    /* 100vw * 0.9 * 56.25% (aspect ratio) */
    height: 50.625vw;
  }
}

/* Grid: 35/65 */
@media (min-width: 751px) {
  .video_desc iframe {
    /* 100vw * 0.9 * 56.25% (aspect ratio) * 0.35 */
    height: 17.71875vw;
  }
}

/* Single ToC */
@media (min-width: 960px) {
  .video_desc iframe {
    /* height: 12.7vw; */
    height: calc( ( (100vw - 24.2rem) * 0.35 - 2rem) * 0.9);
  }
}

/* Double ToC */
@media (min-width: 1219px) {
  .video_desc iframe {
    /* height: 12.7vw; */
    height: calc( ( (100vw - 24.2rem * 2) * 0.35 - 2rem) * 0.9);
  }
}

/* ================================================================================== */
/* Parameters for PDF Rendering                                                       */
/* ================================================================================== */

/* Hides elemments with <class="pdf">, <class="qr">, or <class="tinyqr"> on webpage (used for the generated PDF) */
* + .pdf {
  display: none;
}
.md-typeset *.qr {
  display: none;
}
.md-typeset *.tinyqr {
  display: none;
}

.md-typeset ul.pdf {
  display: none;
}

@media print {
  /* Shows elements with <class="pdf"> on webpage (used for the generated PDF) */
  * + .pdf {
    display: contents;
  }
  .md-typeset *.qr {
    display: inline-flex;
    align-items: center;
  }

  .md-typeset *.tinyqr {
    display: inline-flex;
    vertical-align: middle;
    width: 40px;
  }

  .grid.cards.hide {
    display: none;
  }

  /* Removes borders on tables with <class="pdf"> */
  table + .pdf {
    border-style:none;
  }

  /* Limits images size in table */
  .pdf img {
    width: 100%;
    max-width: 200px;
  }

  .md-typeset ul.pdf {
    display: flow-root;
  }

  /* Sets table to 100% of page width */
  .md-typeset table:not([class]) {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  .md-typeset table.pdf {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
  
  /* Sets images size in tables */
  .md-typeset table:not([class]) td img {
    width: 100%;
    max-height: 150px;
  }
  
  /* Hides grid cards on pdf */
  .md-typeset .grid {
	  display: none;
  }


  /* Display grid cards with board files */
  .md-typeset .grid.grid.cards.show {
	  display: block;
    }
  .md-typeset .grid.grid.cards.desc {
	  display: none;
  }


  /* Sets grid card width (not working)
  Works for File > Print function, but not valid for PDF generator due to issue with Weazy
  * Refer to https://github.com/Kozea/WeasyPrint/issues/543
  .md-typeset .grid {
	display: grid;
	grid-template-columns: repeat(4, 25%);
  } */
  /* Shrinks card width to 25% and font to 8px (kind of works for PDF generator, but doesn't create columns)
  .md-typeset :is(.cards) {
	width: 25%;
	font-size: 8px;
  } */
  
  
  /* Sets maximum image size */
  .md-typeset img {
    max-width:  200px;
    max-height: 200px;
  }
  /* Fixes positioning of admonition icon */
  .md-typeset :is(.admonition-title,summary):before {
    top: 0.6rem;
    left: 0.6rem; 
  }
  /* Fixes appearance of admonition icon */
  .md-typeset :is(.admonition,details)>:last-child {
	  background-color: transparent; 
  }
  /* Fixes margin spacing for lists */
  .md-typeset ol,ul {
	  margin-left: 1.5rem;
  }

  /* Adjusts page break for PDF generator */
  article h2,h3,h4,h5,h6,ol,ul {
	  page-break-before: avoid;
  }
  article div.admonition {
	  page-break-before: avoid;
  }
  article table,ol,ul {
    page-break-inside: auto !important;
  }

  /* Displays first tab (workaround to rendering issue) */
  * + .tabbed-content {
    display: contents;
  }
  * + .tabbed-content .tabbed-block {
    display: contents;
    page-break-after: always;
  }

  /* Prevents page break when tabs are embedded in an admonition*/
  article details.note {
    display: inline-block;
    overflow: hidden;
    /* Hardcode max height to match code block size, when tabbed (need to find better alternative) */
    max-height: 138mm;
  }

  /* Limits size of code blocks in admonitions (workaround to rendering issue) */
  .md-typeset :is(pre, code) {
    display: inline-flexbox;
    max-height: 120mm;
    overflow: hidden;
  }
}